# if,for 함께사용

## 합격/불합격

In [1]:
scores = [50,10,20,60,70]
cutoff = 50

for student_idx in range(len(scores)):
    if scores[student_idx] >= cutoff:
        print('student{}:Pass'.format(student_idx))
    else:
        print('student{}:Fail'.format(student_idx))

student0:Pass
student1:Fail
student2:Fail
student3:Pass
student4:Pass

## 점수를 학점으로 변환

In [2]:
scores = [20,50,10,60,90]
grades = []

for score in scores:
    if score >= 80:
        grades.append('A')
    elif score >= 60:
        grades.append('B')
    elif score >= 40:
        grades.append('C')
    elif score >= 20:
        grades.append('D')
    else:
        grades.append('F')

for student_idx in range(len(grades)):
    print('student{} grade:{}'.format(student_idx,grades[student_idx]))

student0 grade:D
student1 grade:C
student2 grade:F
student3 grade:B
student4 grade:A

## 합격/불합격 그룹 평균 구하기

In [3]:
scores = [20,50,10,60,90]
cutoff = 50

pass_score_sum,n_pass = 0,0
fail_score_sum,n_fail = 0,0

for score in scores:
    if score >= cutoff:
        pass_score_sum += score
        n_pass += 1
    else:
        fail_score_sum += score
        n_fail += 1

pass_score_mean = pass_score_sum/n_pass
fail_score_mean = fail_score_sum/n_fail

print('mean of passed scores: ',pass_score_mean)
print('mean of failed scores: ',fail_score_mean)

mean of passed scores:  66.66666666666667
mean of failed scores:  15.0

## 홀수/짝수 구분하기

In [4]:
numbers = []
for num in range(10):
    numbers.append(num)
numbers.append(3.14)

print('numbers: ',numbers)

for num in numbers:
    if num % 2 == 0:
        print('{} --> Even Number'.format(num))
    elif num % 2 == 1:
        print('{} --> Odd Number'.format(num))
    else:
        print('{} --> Not an Integer'.format(num))

numbers:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3.14]
0 --> Even Number
1 --> Odd Number
2 --> Even Number
3 --> Odd Number
4 --> Even Number
5 --> Odd Number
6 --> Even Number
7 --> Odd Number
8 --> Even Number
9 --> Odd Number
3.14 --> Not an Integer

## n배수들의 합 구하기

In [5]:
multiple_of = 5
sum_multiple_of_n = 0

for num in range(100):
    if num % multiple_of == 0:
        sum_multiple_of_n += num

print('sum_multiple_of_n: ',sum_multiple_of_n)

sum_multiple_of_n:  950

## 최댓값/최솟값 구하기

In [6]:
scores = [60,40,70,20,90]
M,m = scores[0],scores[0]

for score in scores:
    if score > M:
        M = score
    if score < m:
        m = score
print('max value:',M,'min value:',m)

max value: 90 min value: 20

## Normalization

In [7]:
scores = [-20,60,40,-70,120]

M,m = scores[0],scores[0]

for score in scores:
    if score > M:
        M = score
    if score < m:
        m = score

print(f'M: {M}, m: {m}')

for score_idx in range(len(scores)):
    scores[score_idx] = (scores[score_idx]-m)/(M-m)

print('scores after normalization: ',scores)

M,m = scores[0],scores[0]

for score in scores:
    if score >= M:
        M = score
    if score <= m:
        m = score

print('Max after normalization: ',M)
print('min after normalization: ',m)

M: 120, m: -70
scores after normalization:  [0.2631578947368421, 0.6842105263157895, 0.5789473684210527, 0.0, 1.0]
Max after normalization:  1.0
min after normalization:  0.0

## 최댓값,최솟값 위치 구하기

In [8]:
scores = [60,-20,40,120,70]
M,m  = scores[0],scores[0]
M_idx,m_idx = 0,0

for score_idx in range(len(scores)):
    if  scores[score_idx] > M:
        M = scores[score_idx]
        M_idx = score_idx
    if scores[score_idx] < m:
        m = scores[score_idx]
        m_idx = score_idx

print(f'M: {M}, M_idx: {M_idx}')
print(f'm: {m}, m_idx: {m_idx}')

M: 120, M_idx: 3
m: -20, m_idx: 1